/** 
* Sample file for how environment config is set up. 
* cypress.{env}.json set the env variable to whatever environment you are working on.  
**/

{
    "baseUrl": "http://localhost:8080",
    "env": {
        "apiUrl": "http://api.localhost:8080",
        "user": {
            "email": "example@sample.com",
            "password": "OneTwoThree",
            "username": "Example"
        }
    },
    "viewportWidth": 1000,
    "viewportHeight": 660,    
    "video": false,
    "nodeVersion": "system"
}